.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.enter {
  float: right;
}

.login-card {
  padding-right: 150px;
  padding-top: 140px;
}

.page-title {
  text-align: center;
  float: left;
  padding: 200px 0px 0px 300px;
}
